<div class="container">
    <div class="row">
        <div class="col-md-12 hidden-sm">
            <div style="float: left; clear: none" ng-repeat="n in [1, 2, 3, 4, 5, 6, 7]">
                Tomorrow<br>
                94/76<br>
                <img src="http://www.weather.gov/images/nws/newicons/nskc.png" width="100px" class="img-rounded" alt="Clear">
            </div>
        </div>
    </div>
    <div class="row">
        <!-- Current Obs -->
        <div class="col-md-4 pull-right" id="obs" style="height: 400px">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Current Observations</h3>
                </div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
        </div>

        <!-- Forecast -->
        <div class="col-md-8" id="forecast" style="height: 1300px">
            <div class="panel panel-default">
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="n in [1, 2, 3, 4, 5, 6, 7]">
                        <h3>Tonight</h3>
                        <img src="http://www.weather.gov/images/nws/newicons/nskc.png" width="100px" class="img-rounded" alt="Clear">
                    </li>
                </ul>
            </div>
        </div>

        <!-- Map -->
        <div class="col-md-4" id="hwg" style="height: 400px">
            <div class="panel panel-default">
                <div class="panel-body">
                    Map
                </div>
            </div>
        </div>

        <!-- Hourly Weather Graph -->
        <div class="col-md-4" id="map" style="height: 400px">
            <div class="panel panel-default">
                <div class="panel-body">
                    HWG
                </div>
            </div>
        </div>
    </div>
</div>
