<div class="container">
    <div class="row">
        <!-- Current Obs -->
        <div class="col-md-4 pull-right panel panel-default" id="obs" style="height: 400px">
            <div class="panel-heading">
                <h3 class="panel-title">Current Observations</h3>
            </div>
            <div class="panel-body">
                Panel content
            </div>
        </div>

        <!-- Forecast -->
        <div class="col-md-8" id="forecast" style="height: 1300px">
            <div class="panel panel-default">
                <ul class="list-group">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
            </div>
        </div>

        <!-- Map -->
        <div class="col-md-4" id="hwg" style="height: 400px">
            <div class="panel panel-default">
                <div class="panel-body">
                    Map
                </div>
            </div>
        </div>

        <!-- Hourly Weather Graph -->
        <div class="col-md-4" id="map" style="height: 400px">
            <div class="panel panel-default">
                <div class="panel-body">
                    HWG
                </div>
            </div>
        </div>
    </div>
</div>
