<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-push-8" id="obs" style="height: 400px; background-color: #999">
        </div>
        <div class="col-md-8 col-md-pull-4" id="forecast" style="height: 1300px; background-color: #999">
        </div>
        <div class="col-md-4" id="hwg" style="height: 400px; background-color: #999">
        </div>
        <div class="col-md-4" id="map" style="height: 400px; background-color: #999">
        </div>
    </div>
</div>