<div class="container-fluid" id="mapPartial">
    <div class="row">
        <div class="col-sm-2">
            <ul class="list-group">
                <li class="list-group-item" ng-show="layers.length == 0">No results found</li>
                <li class="list-group-item" ng-repeat="layer in layers track by $index" ng-click="changeLayer($index)">{{layer.Title}}</li>
        </div>
        <div class="col-sm-10">
            <slider ng-model="dateValue" formatter="dateFormatter" min="0" max="numTimes"></slider>
            <div id="map"></div>
        </div>
    </div>
</div>
